@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Open+Sans:wght@300;400;500;700&display=swap");

:root {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffff;
  background-color: #12263aff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --orange-web: #ffa500ff;
  --prussian-blue: #12263aff;
  --chinese-red: #a33b20ff;
  --lavender-web: #e5eafaff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Dancing Script";
  font-size: 3rem;
  line-height: 3.6rem;
  font-weight: 700;
}
h2 {
  font-family: "Dancing Script";
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 700;
}
h3 {
  font-size: 28px;
  font-family: "Dancing Script";
  font-weight: 700;
  margin-bottom: 1rem;
}
